

.gradient-custom {
  /* fallback for old browsers */
  background: #dbeafe;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #dbeafe, #bfdbfe);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #dbeafe, #bfdbfe);
}



.login_btn:hover{
  background-color: rgb(4, 4, 185);
  color: white;
}